<div class="row">
	<h2>配送先を編集する</h2>
	<%= form_with model: @shipping, url: user_shipping_path(@shipping) do |f| %>
		<div class="form-group">
			<%= f.label :post_code, '郵便番号（ハイフンなし）', class: 'col-xs-3' %>
			<%= f.text_field :post_code %>
		</div>
		<div class="form-group">
			<%= f.label :address, '住所', class: 'col-xs-3' %>
			<%= f.text_field :address %>
		</div>
		<div class="form-group">
			<%= f.label :name, '宛名', class: 'col-xs-3' %>
			<%= f.text_field :name %>
		</div>
		<%= f.submit '編集する', class: 'btn btn-primary col-xs-offset-9' %>
	<% end %>
</div>