<div class="row">
	<div class="genre-box col-xs-3">
		<%= render 'genre_index', genres: @genres %>
	</div>
	<div class="col-xs-9">
		<% if @genre == nil %>
			<h3>商品一覧</h3>
		<% else %>
			<h3><%= @genre.name %>一覧</h3>
		<% end %>
		<div class="products-box">
			<% @products.each do |product| %>
				<div class="product-box">
					<%= link_to user_product_path(product) do %>
						<%= attachment_image_tag product, :image, size: '50x50' %><br>
						<%= product.name %><br>
					<% end %>
					¥<%= product.price %>
				</div>
			<% end %>
		</div>
	</div>
</div>